<!DOCTYPE html>
<html>
<head>
	<title></title>
<!--<script type="text/javascript" src="../public/js/contestList.js"></script>-->
<script  src = "/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/js/contestList.js"></script>

</head>

<body>
<button id="getContests" ></button>
</body>
</html>